export(createDataset)
export(createModel)
export(createPrediction)
export(createSource)
export(formEncodeURL)
export(getDataset)
export(getModel)
export(getPrediction)
export(getSource)
export(listDatasets)
export(listModels)
export(listSources)
export(quickDataset)
export(quickModel)
export(quickPrediction)
export(quickSource)
export(setCredentials)
import(RCurl)
import(RJSONIO)
import(plyr)
