export(createBigMLDataset)
export(createBigMLModel)
export(createBigMLPrediction)
export(createBigMLSource)
export(formEncodeURL)
export(getBigMLDataset)
export(getBigMLModel)
export(getBigMLPrediction)
export(getBigMLSource)
export(listBigMLDatasets)
export(listBigMLModels)
export(listBigMLSources)
export(quickBigMLDataset)
export(quickBigMLModel)
export(quickBigMLPrediction)
export(quickBigMLSource)
export(setBigMLCredentials)
import(RCurl)
import(RJSONIO)
import(plyr)
